[submodule "Robotic-arm-drive-for-ROS"]
	path = Robotic-arm-drive-for-ROS
	url = https://github.com/uav-operation-system/Robotic-arm-drive-for-ROS
[submodule "Control-program-of-the-manipulator-of-the-six-rotor-armed-UAV"]
	path = Control-program-of-the-manipulator-of-the-six-rotor-armed-UAV
	url = https://github.com/uav-operation-system/Control-program-of-the-manipulator-of-the-six-rotor-armed-UAV
[submodule "Step-motor-test-program"]
	path = Step-motor-test-program
	url = https://github.com/uav-operation-system/Step-motor-test-program
[submodule "HMC830-Sample"]
	path = HMC830-Sample
	url = https://github.com/uav-operation-system/HMC830-Sample
